<table>
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th>House</th>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.age %></td>
        <td><%= student.house %></td>
      </tr>
    <% end %>
  </tbody>
</table>
